@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html {
  font-size: 62.5%;
}

body,
button,
input,
textarea,
::placeholder {
  font-family: "NanumSquare", sans-serif;
}

.hidden {
  display: none;
}

.center-wrap {
  max-width: 1152px;
  margin: 0 auto;
  padding: 40px 10px;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
body {
  background: no-repeat url("../images/bg-wave.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*<----------홈 home---------->*/
.home-section {
  height: 100vh;
}
.home-section .center-wrap {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.home-section .portfolio-title {
  width: 100%;
  margin-bottom: 40px;
  font-size: 5.4rem;
  font-weight: 900;
  color: #fff;
}
.home-section .logo-img {
  width: 50%;
  margin-bottom: 40px;
}
.home-section .browser-opt {
  margin-bottom: 20px;
  color: #d01110;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.33;
}
.home-section .copyright {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.33;
}

/*<----------프로젝트 project---------->*/
.project-section .center-wrap {
  position: relative;
  padding: 0;
}
.project-section .project-paging {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 50;
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
}
.project-section .slick-slider {
  position: relative;
}
.project-section .slick-arrow {
  position: absolute;
  top: 60vh;
  color: #fff;
  transform: translateY(-100%);
}
.project-section .slick-arrow .material-symbols-outlined {
  font-size: 10vw;
}
.project-section .slick-prev {
  left: 10px;
  z-index: 50;
}
.project-section .slick-next {
  left: 10vw;
}
.project-section .slick-slide {
  overflow: hidden;
}
.project-section .img-wrap {
  overflow: hidden;
  width: 160vw;
  height: 60vh;
  margin: 0 auto;
  transform: skew(45deg) translateX(-16.5%);
}
.project-section .img-wrap img {
  width: 101vw;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transform: skew(-45deg) translateX(26%);
}
.project-section .project-txt-wrap {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  color: #fff;
  font-size: 1.4rem;
}
.project-section .project__title {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: 900;
}
.project-section .project__category {
  margin-bottom: 20px;
  color: #d01110;
  font-weight: 600;
}
.project-section .project__info {
  margin-bottom: 20px;
  line-height: 1.33;
}
.project-section .project__detail {
  margin-bottom: 20px;
  line-height: 1.33;
}
.project-section .project__role {
  margin-bottom: 20px;
  line-height: 1.33;
}
.project-section .project__link {
  padding: 10px 40px;
  border: 1px solid #fff;
  text-align: center;
}
.project-section .project__link:nth-of-type(2) {
  margin-top: 10px;
}

/*<----------소개 about---------->*/
.about-section .center-wrap {
  overflow: hidden;
  padding: 0;
}
.about-section .img-wrap {
  overflow: hidden;
  width: 100%;
  height: 85vh;
  transform: skew(-30deg);
}
.about-section .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: skew(30deg);
}
.about-section .about-txt {
  position: relative;
  z-index: 3;
  margin: 2vh 0;
  padding: 30px 10px;
}
.about-section .about-txt dt {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 900;
  font-size: 2.4rem;
}
.about-section .about-txt dd {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.33;
  word-break: keep-all;
}
.about-section .about-txt dd:last-child {
  margin-bottom: 0;
}
.about-section .about-txt .line-break {
  display: none;
}
.about-section .highlight {
  color: #d01110;
  font-weight: 900;
}

/*<----------연락처 contact---------->*/
.contact-section .center-wrap {
  overflow: hidden;
  padding: 0;
}
.contact-section .img-wrap {
  overflow: hidden;
  width: 100%;
  height: 85vh;
  transform: skew(30deg);
}
.contact-section .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: skew(-30deg);
}
.contact-section .contact-txt {
  position: relative;
  z-index: 3;
  margin-top: 2vh;
  padding: 30px 10px 8vh;
  text-align: right;
}
.contact-section .contact-txt dt {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 900;
  font-size: 2.4rem;
}
.contact-section .contact-txt dd {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.33;
  word-break: keep-all;
}
.contact-section .contact-txt dd:last-child {
  margin-bottom: 0;
}
.contact-section .highlight {
  color: #d01110;
  line-height: 1.33;
}

.overlay-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  mix-blend-mode: multiply;
  pointer-events: none;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  태블릿 Tablet
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 768px) {
  /*<----------홈 home---------->*/
  .home-section .center-wrap {
    padding: 10px 5vw;
  }
  .home-section .portfolio-title {
    margin-bottom: 100px;
    font-size: 10rem;
    line-height: 1.1;
  }
  .home-section .logo-img {
    width: 240px;
    margin-bottom: 0;
    margin-right: 120px;
  }
  .home-section .intro-wrap {
    display: flex;
  }
  .home-section .intro-txt {
    position: relative;
  }
  .home-section .intro-txt::before {
    position: absolute;
    top: 50%;
    left: -60px;
    width: 1px;
    height: 80%;
    background: #fff;
    transform: translateY(-50%);
    content: "";
  }
  .home-section .browser-opt {
    font-size: 1.7rem;
  }
  .home-section .copyright {
    font-size: 1.7rem;
  }
  /*<----------소개 about---------->*/
  .about-section .img-wrap {
    width: 70%;
    margin-left: 15%;
  }
  .about-section .img-wrap img {
    width: auto;
    max-width: initial;
    transform: skew(30deg) translateX(-15%);
  }
  .about-section .about-txt {
    padding: 40px 5vw;
  }
  .about-section .about-txt dt {
    font-size: 4rem;
  }
  .about-section .about-txt dd {
    font-size: 1.7rem;
  }
  .about-section .about-txt .line-break {
    display: block;
  }
  /*<----------연락처 contact---------->*/
  .contact-section .img-wrap {
    width: 70%;
    margin-left: 15%;
  }
  .contact-section .img-wrap img {
    width: auto;
    max-width: initial;
    transform: skew(-30deg) translateX(-26%);
  }
  .contact-section .contact-txt {
    padding: 40px 5vw 8vh;
  }
  .contact-section .contact-txt dt {
    font-size: 4rem;
  }
  .contact-section .contact-txt dd {
    font-size: 1.7rem;
  }
}
/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  PC
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 1152px) {
  /*<----------홈 home---------->*/
  .home-section .center-wrap {
    padding: 10px 20px;
  }
  /*<----------소개 about---------->*/
  .about-section .center-wrap {
    position: relative;
  }
  .about-section .img-wrap {
    width: 40%;
    margin-left: 40%;
    transform: skew(-30deg);
  }
  .about-section .img-wrap img {
    transform: skew(30deg) translateX(-20%);
  }
  .about-section .about-txt {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 0;
    padding: 0 20px;
    transform: translateY(-50%);
  }
  /*<----------연락처 contact---------->*/
  .contact-section {
    margin: 160px 0 80px;
  }
  .contact-section .center-wrap {
    position: relative;
  }
  .contact-section .img-wrap {
    width: 40%;
    margin-left: 20%;
    transform: skew(30deg);
  }
  .contact-section .img-wrap img {
    transform: skew(-30deg) translateX(-26%);
  }
  .contact-section .contact-txt {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: 0;
    padding: 0 20px;
    transform: translateY(-50%);
  }
}/*# sourceMappingURL=main.css.map */