@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
button,
input,
textarea,
::placeholder {
  font-family: "NanumSquare", sans-serif;
}

.hidden {
  display: none;
}

.center-wrap {
  max-width: 1152px;
  margin: 0 auto;
  padding: 40px 10px;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
body {
  background: no-repeat url("../images/bg-wave.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*<----------네비게이션 navigation---------->*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
}
.header .center-wrap {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.header .btn--open-menu {
  cursor: pointer;
}
.header .btn--open-menu .material-symbols-outlined {
  color: #fff;
  font-size: 4rem;
}
.header .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  background: rgba(46, 118, 114, 0.85);
  backdrop-filter: blur(5px);
  transform: translateX(100%);
  transition: transform 0.4s ease, visibility 0.4s ease;
}
.header .nav.on {
  visibility: visible;
  transform: translateX(0);
}
.header .nav.on .btn--close-menu {
  visibility: visible;
  opacity: 1;
}
.header .nav.on .nav-list {
  visibility: visible;
  opacity: 1;
}
.header .btn--close-menu {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s;
}
.header .btn--close-menu .material-symbols-outlined {
  margin-bottom: 20px;
  color: #fff;
  font-size: 5.4rem;
}
.header .nav-list {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.header .nav-list li a {
  display: block;
  margin-bottom: 15px;
  color: #fff;
  font-size: 3.2rem;
  opacity: 0.5;
  transition: all 0.2s;
}
.header .nav-list li a.on {
  color: #d01110;
  opacity: 1;
}
.header .nav-list li a:hover, .header .nav-list li a:focus {
  opacity: 1;
}

/*<----------홈 home---------->*/
.home-section {
  height: 100vh;
}
.home-section .center-wrap {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.home-section .portfolio-title {
  width: 100%;
  margin-bottom: 40px;
  font-size: 5.4rem;
  font-weight: 900;
  color: #fff;
}
.home-section .logo-img {
  width: 50%;
  margin-bottom: 40px;
}
.home-section .browser-opt {
  margin-bottom: 20px;
  color: #d01110;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.33;
}
.home-section .copyright {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.33;
}

/*<----------프로젝트 project---------->*/
.project-section .center-wrap {
  position: relative;
  padding: 0;
}
.project-section .project-paging {
  position: absolute;
  top: 0;
  right: 15px;
  color: #fff;
  font-size: 11vh;
  font-weight: 600;
  text-align: center;
  font-style: italic;
}
.project-section .slick-slider {
  position: relative;
}
.project-section .slick-arrow {
  position: absolute;
  top: 60vh;
  color: #fff;
  transform: translateY(-100%);
}
.project-section .slick-arrow .material-symbols-outlined {
  font-size: 9vh;
}
.project-section .slick-prev {
  left: 10px;
  z-index: 50;
}
.project-section .slick-next {
  left: 9vh;
  color: #d01110;
}
.project-section .slick-slide {
  overflow: hidden;
}
.project-section .project-img {
  display: block;
  overflow: hidden;
  width: 160vw;
  height: 60vh;
  margin: 0 auto;
  transform: skew(45deg) translateX(-19%);
}
.project-section .project-img img {
  width: 101vw;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transform: skew(-45deg) translateX(29.5%);
}
.project-section .project-momentum .project-img img {
  object-position: center;
}
.project-section .project-txt-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 0;
  padding: 30px 10px;
  color: #fff;
  font-size: 1.4rem;
}
.project-section .project__title {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: 900;
}
.project-section .project__category {
  margin-bottom: 20px;
}
.project-section .project__info {
  margin-bottom: 20px;
  line-height: 1.33;
  text-align: center;
}
.project-section .project__detail {
  margin-bottom: 20px;
  line-height: 1.33;
}
.project-section .project__role {
  margin-bottom: 20px;
  line-height: 1.33;
  text-align: center;
}
.project-section .link-wrap {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
}
.project-section .project__link {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  text-align: center;
}
.project-section .project__link:nth-of-type(2) {
  margin-left: 10px;
}

/*<----------소개 about---------->*/
.about-section .center-wrap {
  overflow: hidden;
  padding: 0;
}
.about-section .img-wrap {
  overflow: hidden;
  width: 100%;
  height: 85vh;
  transform: skew(-30deg);
}
.about-section .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: skew(30deg);
}
.about-section .about-txt {
  position: relative;
  z-index: 3;
  margin: 2vh 0;
  padding: 30px 10px;
}
.about-section .about-txt dt {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 900;
  font-size: 2.4rem;
}
.about-section .about-txt dd {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.33;
  word-break: keep-all;
}
.about-section .about-txt dd:last-child {
  margin-bottom: 0;
}
.about-section .about-txt .line-break {
  display: none;
}
.about-section .highlight {
  color: #d01110;
  font-weight: 900;
}

/*<----------연락처 contact---------->*/
.contact-section .center-wrap {
  overflow: hidden;
  padding: 0;
}
.contact-section .img-wrap {
  overflow: hidden;
  width: 100%;
  height: 85vh;
  transform: skew(30deg);
}
.contact-section .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: skew(-30deg);
}
.contact-section .contact-txt {
  position: relative;
  z-index: 3;
  margin-top: 2vh;
  padding: 30px 10px 8vh;
  text-align: right;
}
.contact-section .contact-txt dt {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 900;
  font-size: 2.4rem;
}
.contact-section .contact-txt dd {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.33;
  word-break: keep-all;
}
.contact-section .contact-txt dd:last-child {
  margin-bottom: 0;
}
.contact-section .highlight {
  color: #d01110;
  line-height: 1.33;
}

.overlay-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  mix-blend-mode: multiply;
  pointer-events: none;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  태블릿 Tablet
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 768px) {
  /*<----------네비게이션 navigation---------->*/
  .header .center-wrap {
    padding: 20px;
  }
  .header .btn--open-menu .material-symbols-outlined {
    font-size: 6rem;
  }
  .header .nav {
    width: 60%;
  }
  .header .btn--close-menu .material-symbols-outlined {
    font-size: 12rem;
  }
  .header .nav-list li a {
    font-size: 6rem;
  }
  /*<----------홈 home---------->*/
  .home-section .center-wrap {
    padding: 10px 5vw;
  }
  .home-section .portfolio-title {
    margin-bottom: 100px;
    font-size: 10rem;
    line-height: 1.1;
  }
  .home-section .logo-img {
    width: 240px;
    margin-bottom: 0;
    margin-right: 120px;
  }
  .home-section .intro-wrap {
    display: flex;
  }
  .home-section .intro-txt {
    position: relative;
  }
  .home-section .intro-txt::before {
    position: absolute;
    top: 50%;
    left: -60px;
    width: 1px;
    height: 80%;
    background: #fff;
    transform: translateY(-50%);
    content: "";
  }
  .home-section .browser-opt {
    font-size: 1.7rem;
  }
  .home-section .copyright {
    font-size: 1.7rem;
  }
  /*<----------프로젝트 project---------->*/
  .project-section .project-paging {
    right: 20px;
  }
  .project-section .slick-arrow .material-symbols-outlined {
    font-size: 12vw;
  }
  .project-section .slick-prev {
    left: 20px;
  }
  .project-section .slick-next {
    left: calc(12vw + 10px);
  }
  .project-section .project-img {
    width: 140vw;
    height: 60vh;
    transform: skew(45deg) translateX(-14%);
  }
  .project-section .project-img img {
    width: 101vw;
    height: 100%;
    transform: skew(-45deg) translateX(18.7%);
  }
  .project-section .project-txt-wrap {
    flex-wrap: wrap;
    height: 35rem;
    padding: 40px 5vw;
    font-size: 1.7rem;
  }
  .project-section .project__title {
    align-self: flex-end;
    width: 50%;
    margin-bottom: 20px;
    padding-right: 20px;
    font-size: 4rem;
    text-align: right;
  }
  .project-section .project__category {
    width: 50%;
    padding-right: 20px;
    text-align: right;
  }
  .project-section .project__info {
    flex-basis: 50%;
    width: 50%;
    padding-right: 20px;
    text-align: right;
  }
  .project-section .project__detail {
    align-self: flex-start;
    width: 50%;
    padding-left: 20px;
    text-align: left;
  }
  .project-section .project__role {
    align-self: flex-start;
    width: 50%;
    padding-left: 20px;
    text-align: left;
  }
  .project-section .link-wrap {
    width: 45%;
    padding-left: 20px;
    flex-direction: column;
  }
  .project-section .project__link {
    width: 100%;
  }
  .project-section .project__link:nth-of-type(2) {
    margin-top: 10px;
    margin-left: 0;
  }
  /*<----------소개 about---------->*/
  .about-section .img-wrap {
    width: 70%;
    margin-left: 15%;
  }
  .about-section .img-wrap img {
    width: auto;
    max-width: initial;
    transform: skew(30deg) translateX(-15%);
  }
  .about-section .about-txt {
    padding: 40px 5vw;
  }
  .about-section .about-txt dt {
    font-size: 4rem;
  }
  .about-section .about-txt dd {
    font-size: 1.7rem;
  }
  .about-section .about-txt .line-break {
    display: block;
  }
  /*<----------연락처 contact---------->*/
  .contact-section .img-wrap {
    width: 70%;
    margin-left: 15%;
  }
  .contact-section .img-wrap img {
    width: auto;
    max-width: initial;
    transform: skew(-30deg) translateX(-26%);
  }
  .contact-section .contact-txt {
    padding: 40px 5vw 8vh;
  }
  .contact-section .contact-txt dt {
    font-size: 4rem;
  }
  .contact-section .contact-txt dd {
    font-size: 1.7rem;
  }
}
/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  PC
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 1152px) {
  /*<----------네비게이션 navigation---------->*/
  .header .btn--open-menu .material-symbols-outlined {
    font-size: 6rem;
  }
  .header .nav {
    width: 50%;
    background: rgba(46, 118, 114, 0.95);
    backdrop-filter: blur(0);
  }
  .header .btn--close-menu .material-symbols-outlined {
    font-size: 12rem;
  }
  .header .nav-list li a {
    font-size: 6rem;
  }
  /*<----------홈 home---------->*/
  .home-section .center-wrap {
    padding: 10px 20px;
  }
  /*<----------프로젝트 project---------->*/
  .project-section .project-paging {
    font-size: 160px;
  }
  .project-section .slick-arrow {
    top: 600px;
  }
  .project-section .slick-arrow .material-symbols-outlined {
    font-size: 120px;
  }
  .project-section .slick-next {
    left: 130px;
  }
  .project-section .project-img {
    width: 1280px;
    height: 600px;
    transform: skew(45deg) translateX(-5%);
  }
  .project-section .project-img img {
    width: 100%;
    height: 100%;
    transform: skew(-45deg) translateX(0);
  }
  .project-section .project-enbrain .project-img img {
    object-position: center;
  }
  .project-section .project-txt-wrap {
    margin: 20px 0 40px;
    padding: 40px 20px;
  }
  .project-section .link-wrap {
    width: 40%;
  }
  .project-section .project__link {
    transition: background-color 0.2s;
  }
  .project-section .project__link:hover, .project-section .project__link:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  /*<----------소개 about---------->*/
  .about-section {
    padding-top: 60px;
  }
  .about-section .center-wrap {
    position: relative;
  }
  .about-section .img-wrap {
    width: 460px;
    margin-left: 425px;
    transform: skew(-30deg);
  }
  .about-section .img-wrap img {
    transform: skew(30deg) translateX(-20%);
  }
  .about-section .about-txt {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 0;
    padding: 0 20px;
    transform: translateY(-50%);
  }
  /*<----------연락처 contact---------->*/
  .contact-section {
    margin: 160px 0 80px;
  }
  .contact-section .center-wrap {
    position: relative;
  }
  .contact-section .img-wrap {
    width: 460px;
    margin-left: 265px;
    transform: skew(30deg);
  }
  .contact-section .img-wrap img {
    transform: skew(-30deg) translateX(-26%);
  }
  .contact-section .contact-txt {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: 0;
    padding: 0 20px;
    transform: translateY(-50%);
  }
}/*# sourceMappingURL=main.css.map */