@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
/*<----------헤더 header---------->*/
.header .project-title {
  position: relative;
}
.header .hidden-txt {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
}

/*<----------메인 main---------->*/
/*<----------공통 common---------->*/
.project-link-wrap {
  display: flex;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  margin: 64px auto;
  padding: 0 48px;
  border-radius: 20px;
  background-color: #4777d9;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
  color: #fff;
  text-align: center;
}

.section {
  margin-bottom: 64px;
}

.section__title {
  margin: 0 16px 48px;
  padding-bottom: 8px;
  border-bottom: 2px solid #000;
  font-family: "Roboto", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.285;
  color: #000;
  text-align: left;
}

/*<----------소개 overview---------->*/
.overview .content {
  padding: 0 16px;
}
.overview .content dt {
  margin-bottom: 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #47484a;
  text-align: left;
}
.overview .content dd {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
  color: #202020;
  text-align: left;
  word-break: keep-all;
}
.overview .content dd + dt {
  margin-top: 32px;
}

/*<----------페르소나 persona---------->*/
.persona .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px;
}
.persona .img-wrap {
  width: 152px;
}
.persona .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 160px);
  padding: 16px;
  background-color: #f9f9f9;
}
.persona .content__title {
  margin-bottom: 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
  text-align: left;
}
.persona ul li {
  margin-left: 24px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
  color: #202020;
  text-align: left;
  list-style-type: disc;
  word-break: keep-all;
}
.persona ul li + li {
  margin-top: 10px;
}
.persona .goals {
  width: 100%;
  margin: 8px 0;
  padding: 32px 16px;
  background-color: #f5f9ff;
}
.persona .complaint {
  width: 100%;
  padding: 32px 16px;
  background-color: #2a4672;
}
.persona .complaint .content__title,
.persona .complaint ul li {
  color: #fff;
}

/*<----------문제점 problems---------->*/
.problems .img-wrap {
  margin-bottom: 48px;
}
.problems .txt-wrap {
  margin-bottom: 32px;
  padding: 0 16px;
}
.problems .problems__title {
  margin-bottom: 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #47484a;
  text-align: left;
}
.problems .problems__details li {
  margin-left: 24px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
  color: #202020;
  text-align: left;
  list-style-type: disc;
  word-break: keep-all;
}
.problems .problems__details li + li {
  margin-top: 10px;
}
.problems .test-start-end {
  margin-bottom: 48px;
}

/*<----------문제 해결 problem-solving---------->*/
.problem-solving .txt-wrap {
  margin-bottom: 48px;
  padding: 0 16px;
}
.problem-solving .problem-solving__title {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  color: #47484a;
  text-align: left;
}
.problem-solving .problem-solving__details li {
  margin-left: 24px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
  color: #202020;
  text-align: left;
  list-style-type: disc;
  word-break: keep-all;
}
.problem-solving .problem-solving__details li + li {
  margin-top: 10px;
}
.problem-solving .img-wrap.wireframe {
  margin-bottom: 48px;
}
.problem-solving .color-theme {
  width: 328px;
  margin: 0 auto 48px;
  padding: 16px 0;
}
.problem-solving .color-theme .color-theme__list li + li {
  margin-top: 32px;
}
.problem-solving .color-theme .color-theme__title {
  margin-bottom: 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #47484a;
  text-align: left;
}
.problem-solving .color-theme .color-theme__palette {
  display: flex;
  justify-content: space-between;
}
.problem-solving .color-theme .color-theme__palette.common {
  justify-content: flex-start;
}
.problem-solving .color-theme .color-theme__palette.common > div {
  margin-right: 16px;
}
.problem-solving .color-theme .color-sample {
  width: 99px;
  height: 99px;
  margin-bottom: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.problem-solving .color-theme .color-sample.dementia-main {
  background-color: #4eb6ad;
}
.problem-solving .color-theme .color-sample.dementia-dark {
  background-color: #215f5a;
}
.problem-solving .color-theme .color-sample.dementia-light {
  background-color: #f8fffe;
}
.problem-solving .color-theme .color-sample.depression-main {
  background-color: #80c783;
}
.problem-solving .color-theme .color-sample.depression-dark {
  background-color: #3e7040;
}
.problem-solving .color-theme .color-sample.depression-light {
  background-color: #f8fff8;
}
.problem-solving .color-theme .color-sample.stress-main {
  background-color: #4777d9;
}
.problem-solving .color-theme .color-sample.stress-dark {
  background-color: #2a4672;
}
.problem-solving .color-theme .color-sample.stress-light {
  background-color: #f5f9ff;
}
.problem-solving .color-theme .color-sample.common-alert {
  background-color: #f60033;
}
.problem-solving .color-theme .color-sample.common-gray {
  background-color: #5d5d5d;
}
.problem-solving .color-theme .color-info {
  display: flex;
  flex-direction: column;
}
.problem-solving .color-theme .color-info span {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
  color: #202020;
  text-align: left;
}
.problem-solving .color-theme .color-info span + span {
  margin-top: 4px;
}
.problem-solving .fonts {
  padding: 48px 16px 48px 40px;
  background-color: #f9f9f9;
  font-family: "NanumBarunGothic", sans-serif;
  line-height: 1.3;
}
.problem-solving .fonts .bold {
  margin-bottom: 16px;
  font-size: 4rem;
  font-weight: 700;
}
.problem-solving .fonts .regular {
  margin-bottom: 16px;
  font-size: 3.2rem;
  font-weight: 400;
}
.problem-solving .fonts .light {
  margin-bottom: 16px;
  font-size: 2.4rem;
  font-weight: 300;
}
.problem-solving .fonts .ultralight {
  font-size: 1.6rem;
  font-weight: 200;
}

/*<----------솔루션 solution---------->*/
.solution .prototype .item-wrap {
  margin-bottom: 32px;
}
.solution .prototype .item-wrap:nth-of-type(4) .prototype__title, .solution .prototype .item-wrap:nth-of-type(5) .prototype__title, .solution .prototype .item-wrap:nth-of-type(6) .prototype__title {
  color: #215f5a;
}
.solution .prototype .item-wrap:nth-of-type(7) .prototype__title, .solution .prototype .item-wrap:nth-of-type(8) .prototype__title {
  color: #3e7040;
}
.solution .prototype .item-wrap:last-of-type {
  margin-bottom: 0;
}
.solution .prototype .img-wrap {
  width: 328px;
  margin: 0 auto;
}
.solution .prototype .txt-wrap {
  padding: 0 16px;
}
.solution .prototype .prototype__title {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  color: #2a4672;
  text-align: center;
  word-break: keep-all;
}
.solution .prototype .prototype__info {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
  color: #202020;
  text-align: left;
}

/*<----------결론 conclusion---------->*/
.conclusion .txt-wrap {
  margin-bottom: 32px;
  padding: 0 16px;
}
.conclusion .conclusion__title {
  margin-bottom: 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #47484a;
  text-align: left;
}
.conclusion .conclusion__details li {
  margin-left: 24px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
  color: #202020;
  text-align: left;
  list-style-type: disc;
  word-break: keep-all;
}
.conclusion .conclusion__details li + li {
  margin-top: 10px;
}

/*<----------푸터 footer---------->*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  background-color: #212121;
}
.footer .copyright {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.333;
  color: #fff;
  text-align: center;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  태블릿 Tablet
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 672px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*<----------소개 overview---------->*/
  .overview {
    width: 672px;
  }
  .overview .content dd {
    max-width: 420px;
  }
  /*<----------페르소나 persona---------->*/
  .persona {
    width: 672px;
  }
  .persona .profile {
    width: 176px;
  }
  .persona .goals {
    width: 297px;
    margin: 0;
    padding-top: 55px;
  }
  .persona .complaint {
    margin-top: 8px;
  }
  /*<----------문제점 problems---------->*/
  .problems .section__title {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  .problems .txt-wrap {
    width: 672px;
    margin-left: auto;
    margin-right: auto;
  }
  /*<----------문제 해결 problem-solving---------->*/
  .problem-solving .section__title {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  .problem-solving .txt-wrap {
    width: 672px;
    margin-left: auto;
    margin-right: auto;
  }
  .problem-solving .color-theme {
    width: 672px;
    padding: 16px;
  }
  .problem-solving .color-theme .color-theme__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .problem-solving .color-theme .color-theme__list li {
    width: 312px;
  }
  .problem-solving .color-theme .color-theme__list li + li {
    margin-top: 0;
  }
  .problem-solving .color-theme .color-theme__list li:nth-of-type(3), .problem-solving .color-theme .color-theme__list li:nth-of-type(4) {
    margin-top: 32px;
  }
  .problem-solving .color-theme .color-sample {
    width: 93px;
    height: 93px;
  }
  .problem-solving .fonts {
    padding: 48px 16px;
  }
  .problem-solving .fonts .fonts__list {
    width: 640px;
    margin: 0 auto;
  }
  /*<----------솔루션 solution---------->*/
  .solution {
    width: 672px;
  }
  .solution .prototype {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  .solution .prototype .item-wrap {
    display: flex;
    align-items: center;
    margin-bottom: -128px;
  }
  .solution .prototype .item-wrap:nth-last-of-type(even) .img-wrap {
    order: 2;
  }
  .solution .prototype .img-wrap {
    flex-shrink: 0;
  }
  .solution .prototype .prototype__title {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    color: #2a4672;
    text-align: left;
  }
  /*<----------결론 conclusion---------->*/
  .conclusion {
    width: 672px;
  }
}
/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  데스크탑, 노트북 Desktop, Laptop
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 1024px) {
  .body-wrap {
    width: 1024px;
    margin: 0 auto;
  }
  /*<----------메인 main---------->*/
  /*<----------공통 common---------->*/
  .project-link {
    margin: 96px auto;
    padding: 0 48px;
    border-radius: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
  }
  .section {
    margin-bottom: 96px;
  }
  .section__title {
    width: 816px;
    margin: 0 auto 64px auto;
    padding-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.25;
    color: #000;
    text-align: left;
  }
  /*<----------소개 overview---------->*/
  .overview {
    width: 1024px;
  }
  .overview .content {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  .overview .content dt {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.333;
    color: #47484a;
    text-align: left;
  }
  .overview .content dd {
    max-width: 640px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #202020;
    text-align: left;
    word-break: keep-all;
  }
  /*<----------페르소나 persona---------->*/
  .persona {
    width: 1024px;
  }
  .persona .content {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .persona .content__title {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.333;
    color: #000;
    text-align: left;
  }
  .persona ul li {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #202020;
    text-align: left;
  }
  .persona .goals {
    padding-top: 45px;
  }
  .persona .complaint {
    padding: 32px;
  }
  /*<----------문제점 problems---------->*/
  .problems .section__title {
    width: 816px;
  }
  .problems .img-wrap {
    margin-bottom: 64px;
  }
  .problems .txt-wrap {
    width: 816px;
    padding: 0px;
  }
  .problems .problems__title {
    margin-bottom: 24px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.333;
    color: #47484a;
    text-align: left;
  }
  .problems .problems__details li {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #202020;
    text-align: left;
  }
  .problems .test-start-end {
    margin-bottom: 64px;
  }
  /*<----------문제 해결 problem-solving---------->*/
  .problem-solving .section__title {
    width: 816px;
  }
  .problem-solving .txt-wrap {
    width: 816px;
    padding: 0;
  }
  .problem-solving .problem-solving__title {
    margin-bottom: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.333;
    color: #47484a;
    text-align: left;
  }
  .problem-solving .problem-solving__details li {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #202020;
    text-align: left;
  }
  .problem-solving .color-theme {
    width: 816px;
    padding: 32px 0;
  }
  .problem-solving .color-theme .color-theme__list {
    justify-content: flex-start;
  }
  .problem-solving .color-theme .color-theme__list li:nth-of-type(1), .problem-solving .color-theme .color-theme__list li:nth-of-type(3) {
    margin-right: 85px;
  }
  .problem-solving .color-theme .color-theme__title {
    margin-bottom: 24px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.333;
    color: #47484a;
    text-align: left;
  }
  .problem-solving .color-theme .color-info span {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #202020;
    text-align: left;
  }
  .problem-solving .fonts .fonts__list {
    width: 816px;
  }
  /*<----------솔루션 solution---------->*/
  .solution {
    width: 816px;
  }
  .solution .prototype {
    width: 816px;
  }
  .solution .prototype .item-wrap:nth-of-type(odd) .txt-wrap {
    padding-left: 32px;
  }
  .solution .prototype .item-wrap:nth-of-type(even) .txt-wrap {
    padding-right: 32px;
  }
  .solution .prototype .img-wrap {
    width: 400px;
  }
  .solution .prototype .txt-wrap {
    padding: 0 16px;
  }
  .solution .prototype .prototype__title {
    margin-bottom: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.333;
    color: #2a4672;
    text-align: left;
  }
  .solution .prototype .prototype__info {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #202020;
    text-align: left;
  }
  /*<----------결론 conclusion---------->*/
  .conclusion {
    width: 816px;
  }
  .conclusion .txt-wrap {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .conclusion .conclusion__title {
    margin-bottom: 24px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.333;
    color: #47484a;
    text-align: left;
  }
  .conclusion .conclusion__details li {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #202020;
    text-align: left;
  }
  /*<----------푸터 footer---------->*/
  .footer {
    padding: 40px 24px;
  }
  .footer .copyright {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
    color: #fff;
    text-align: center;
  }
}/*# sourceMappingURL=mentalhealth-app.css.map */