@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");
/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
/*<----------메인 공통 main common---------->*/
.main {
  max-width: 512px;
  margin: 64px auto;
}

.section {
  margin: 64px auto;
  padding: 0 16px;
}

.section__title {
  margin-bottom: 32px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  color: #000;
}

.section__para {
  margin-bottom: 32px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e1e1e;
  word-break: keep-all;
}

.content {
  margin-bottom: 32px;
}

.content__title {
  margin-bottom: 10px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3;
  color: #1e1e1e;
}
.content__title .criterion {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e1e1e;
  vertical-align: bottom;
}

.content__txt {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e1e1e;
  word-break: keep-all;
}
.content__txt .highlight {
  text-decoration: underline;
}
.content__txt + .content__txt {
  margin-top: 10px;
}

.sidenote {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
  word-break: keep-all;
}

.link-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 16px;
}

.project-link {
  display: inline-block;
  min-height: 40px;
  padding: 10px 24px;
  border: 1px solid #1e1e1e;
  border-radius: 40px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e1e1e;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}
.project-link + .project-link {
  margin-left: 16px;
}

.section-divider {
  width: 64px;
  height: 1px;
  margin: 64px auto;
  background-color: #dddddd;
}

/*<----------푸터 footer---------->*/
.footer {
  background-color: #212121;
}
.footer .copyright {
  max-width: 512px;
  padding: 32px 16px;
  margin: 0 auto;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  데스크탑, 노트북 PC Desktop, Laptop
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 1152px) {
  /*<----------메인 공통 main common---------->*/
  .main {
    max-width: 800px;
    margin: 96px auto;
  }
  .section {
    margin: 96px auto;
  }
  .section__title {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3;
    color: #000;
  }
  .section__para {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e1e1e;
  }
  .content__title {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3;
    color: #1e1e1e;
  }
  .content__title .criterion {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e1e1e;
  }
  .content__txt {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e1e1e;
  }
  .content__txt.sidenote {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
  }
  .sidenote {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
  }
  .project-link {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e1e1e;
  }
  .section-divider {
    width: 96px;
    margin: 96px auto;
  }
  /*<----------푸터 footer---------->*/
  .footer .copyright {
    max-width: 800px;
    padding: 48px 16px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #1e1e1e;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
/*<----------헤더 header---------->*/
.header {
  position: sticky;
  top: 0;
  z-index: 500;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  min-height: 64px;
  margin: 0 auto;
  padding: 8px 6px;
}
.header .nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  padding: 10px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3;
  color: #1e1e1e;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}
.header .nav__menu + .nav__menu {
  margin-left: 4px;
}
.header .nav__menu:hover, .header .nav__menu:focus {
  color: #0063ec;
}
.header .nav__menu-list {
  display: flex;
}

/*<----------메인 공통 main common---------->*/
.main {
  max-width: 400px;
  margin: 0 auto;
}

/*<----------소개 intro---------->*/
.intro .logo-area {
  width: 216px;
  margin-bottom: 64px;
}
.intro .sidenote {
  margin-top: 16px;
}

/*<----------프로젝트 projects---------->*/
.project .content {
  margin-bottom: 16px;
}
.project .project__item {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-sizing: border-box;
  min-height: 184px;
  padding: 0 16px;
}
.project .project__item .img-wrap {
  align-self: flex-end;
}
.project .project__item:hover .img-wrap, .project .project__item:focus .img-wrap {
  transform: translateY(0);
}
.project .txt-wrap {
  width: 100px;
  padding: 20px 0;
}
.project .img-wrap {
  overflow: hidden;
  width: 128px;
  height: 152px;
  border-radius: 8px 8px 0 0;
  transform: translateY(24px);
  transition: 0.25s ease-in-out;
}
.project .img-wrap img {
  object-fit: cover;
}
.project .mentalhealth-app {
  background-color: #0063ec;
}
.project .mentalhealth-app .txt-wrap {
  margin-right: 32px;
  text-align: right;
}
.project .mentalhealth-app .content__title {
  color: #fff;
}
.project .mentalhealth-app .project__hashtag {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}
.project .mentalhealth-app .img-wrap {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.project .careyou {
  background-color: #ffe151;
}
.project .careyou .txt-wrap {
  order: 2;
  margin-left: 32px;
}
.project .careyou .project__hashtag {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e1e1e;
}
.project .careyou .img-wrap {
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.project .library {
  border: 1px solid #1e1e1e;
  background-color: #fff;
}
.project .library .txt-wrap {
  margin-right: 32px;
  text-align: right;
}
.project .library .project__hashtag {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e1e1e;
}
.project .library .img-wrap {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.project .momentum {
  background-color: #27ae61;
}
.project .momentum .txt-wrap {
  order: 2;
  margin-left: 32px;
}
.project .momentum .content__title {
  color: #fff;
}
.project .momentum .project__hashtag {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}
.project .momentum .img-wrap {
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.project .momentum .img-wrap img {
  transform: translateY(-15%);
}
.project .behance {
  background-color: #ff1919;
}
.project .behance .txt-wrap {
  margin-right: 32px;
  text-align: right;
}
.project .behance .content__title {
  color: #fff;
}
.project .behance .project__hashtag {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}
.project .behance .img-wrap {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

/*<----------상세정보 about---------->*/
/*<----------연락처 contact---------->*/
/*<----------푸터 footer---------->*/
.footer {
  background-color: #212121;
}
.footer .copyright {
  padding: 32px 16px;
  margin: 0 auto;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  태블릿 Tablet
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 480px) {
  /*<----------헤더 header---------->*/
  .header .nav {
    max-width: 480px;
  }
  /*<----------메인 공통 main common---------->*/
  .main {
    max-width: 480px;
  }
  /*<----------소개 intro---------->*/
  .logo-area {
    width: 240px;
  }
  /*<----------프로젝트 projects---------->*/
  .project .project__item {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-sizing: border-box;
    min-height: 252px;
    padding: 0 24px;
  }
  .project .project__item .img-wrap {
    align-self: flex-end;
  }
  .project .project__item .txt-wrap {
    width: 128px;
  }
  .project .project__item .img-wrap {
    width: 160px;
    height: 196px;
    transform: translateY(36px);
  }
  .project .library .img-wrap {
    border: 1px solid #1e1e1e;
    border-bottom: none;
  }
  .project .momentum .img-wrap img {
    transform: translateY(0);
  }
}
/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  데스크탑, 노트북 Desktop, Laptop
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 1025px) {
  /*<----------헤더 header---------->*/
  .header .nav {
    max-width: 640px;
    padding: 8px 14px;
  }
  .header .nav__menu {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3;
    color: #1e1e1e;
  }
  /*<----------메인 공통 main common---------->*/
  .main {
    margin: 96px auto;
    padding: 0 24px;
    max-width: 640px;
  }
  /*<----------소개 intro---------->*/
  .intro {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .intro .logo-area {
    width: 256px;
    margin-top: 6px;
    margin-bottom: none;
  }
  .intro .content {
    margin-bottom: 0;
    text-align: right;
  }
  /*<----------프로젝트 projects---------->*/
  .project .content {
    margin-bottom: 24px;
  }
  .project .project__item {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-sizing: border-box;
    min-height: 252px;
    padding: 0 48px;
  }
  .project .project__item .img-wrap {
    align-self: flex-end;
  }
  .project .project__item .img-wrap {
    height: 200px;
    transform: translateY(24px);
  }
  .project .mentalhealth-app .project__title {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
  }
  .project .mentalhealth-app .project__hashtag {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
  }
  .project .mentalhealth-app .img-wrap {
    width: 176px;
  }
  .project .careyou .project__title {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
    color: #1e1e1e;
  }
  .project .careyou .project__hashtag {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e1e1e;
  }
  .project .careyou .img-wrap {
    width: 284px;
  }
  .project .library .project__title {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
    color: #1e1e1e;
  }
  .project .library .project__hashtag {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e1e1e;
  }
  .project .library .img-wrap {
    width: 284px;
  }
  .project .momentum .project__title {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
  }
  .project .momentum .project__hashtag {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
  }
  .project .momentum .img-wrap {
    width: 284px;
  }
  .project .momentum .img-wrap img {
    transform: translateY(-25%);
  }
  .project .behance .project__title {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
  }
  .project .behance .project__hashtag {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
  }
  .project .behance .img-wrap {
    width: 176px;
  }
  /*<----------푸터 footer---------->*/
  .footer .copyright {
    padding: 48px 24px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
  }
}/*# sourceMappingURL=main.css.map */