@import "common.scss";

@mixin infoChip() {
  display: block;
  padding: 6px 8px;
  background-color: #f9f9f9;
  @include fontBody(var(--clr-on-surf-var-bright));
  font-size: 1.4rem;
  border-radius: 8px;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/

body.index {
  .sec_wrap {
    max-width: 408px;
  }

  .intro {
    padding-top: 160px;

    .txt_wrap {
      display: flex;
      flex-direction: column;
    }

    .self_info {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;
    }

    .name {
      @include fontTitle;
      word-break: keep-all;
      font-size: 2.1rem;
    }

    .job_ttl {
      @include fontBody;
      word-break: keep-all;
      font-size: 2.1rem;
    }

    .intro_para {
      margin-bottom: 32px;
      @include fontHeadline(--clr-on-surf-var);
      word-break: keep-all;

      .linebreak {
        display: none;
      }

      .highlight {
        color: var(--clr-renew-pri);
      }
    }

    .sidenote {
      @include fontBody(var(--clr-on-surf-var-bright));
      word-break: keep-all;
      font-size: 1.4rem;
    }
  }

  .work {
    .item_list {
      display: flex;
      flex-direction: column;
      gap: 64px;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      .img_wrap {
        overflow: hidden;
        border-radius: 16px;
        transition: box-shadow 0.2s ease-in-out;

        img {
          transition: all 0.2s ease-in-out;
        }
      }

      .txt_wrap {
        width: 100%;
      }

      .chip_group {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 8px;

        .chip {
          @include infoChip();
        }
      }

      .item__link {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        margin-top: 16px;
        padding: 8px 24px;
        border: 1px solid var(--clr-out-var);
        border-radius: 100px;
        box-sizing: border-box;
        @include fontBody(var(--clr-on-surf-var));
        transition: all 0.2s ease-out;

        &:hover,
        &:focus {
          background-color: rgba($color: #000000, $alpha: 0.04);
        }
      }
    }
  }

  .skills {
    padding-top: 32px;

    .para_group {
      gap: 4px;
    }
  }

  .contact {
    padding-top: 32px;
    padding-bottom: 128px;
  }
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  데스크탑 Desktop
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 896px) {
  body.index {
    .main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0;
      max-width: 896px;
      margin: 0 auto;
    }

    .sec_wrap {
      max-width: 800px;
    }

    .intro {
      width: 100%;
      padding-top: 240px;

      .name {
        font-size: 2.4rem;
      }

      .job_ttl {
        font-size: 2.4rem;
      }

      .intro_para .linebreak {
        display: block;
      }
    }

    .work {
      width: 100%;
      padding-top: 100px;

      .item_list {
        gap: 32px;
      }

      .item {
        flex-direction: row;
        align-items: center;
        gap: 48px;

        &:nth-of-type(even) {
          flex-direction: row-reverse;

          .item__ttl,
          .item__para {
            text-align: right;
          }

          .chip_group {
            justify-content: flex-end;
          }

          .item__link {
            justify-self: flex-end;
          }
        }

        .img_wrap {
          width: 100%;
        }

        .item__link {
          margin-top: 24px;
          justify-self: flex-start;
          min-width: 160px;
        }
      }
    }

    .skills {
      width: 50%;
      padding-top: 50px;
      padding-right: 24px;
      padding-bottom: 160px;
    }

    .contact {
      width: 50%;
      padding-top: 50px;
      padding-left: 24px;
      padding-bottom: 160px;
    }
  }
}
