@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html {
  font-size: 62.5%;
}

body,
button,
input,
textarea,
::placeholder {
  font-family: "NanumSquare", sans-serif;
}

.hidden {
  display: none;
}

.center-wrap {
  max-width: 1152px;
  margin: 0 auto;
  padding: 40px 10px;
}

$colorWH1: #fff;
$colorBK1: #231f20;
$colorNV1: #1b262c;
$colorRD1: #d01110;

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
body {
  background: no-repeat url("../images/bg-wave.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*<----------홈 home---------->*/
.home-section {
  height: 100vh;

  .center-wrap {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .portfolio-title {
    width: 100%;
    margin-bottom: 40px;
    font-size: 5.4rem;
    font-weight: 900;
    color: $colorWH1;
  }

  .logo-img {
    width: 50%;
    margin-bottom: 40px;
  }

  .browser-opt {
    margin-bottom: 20px;
    color: $colorRD1;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.33;
  }

  .copyright {
    color: $colorWH1;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.33;
  }
}

/*<----------프로젝트 project---------->*/
.project-section {
  .center-wrap {
    position: relative;
    padding: 0;
  }

  .project-paging {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 50;
    color: $colorWH1;
    font-size: 8vw;
    font-weight: 600;
    text-align: center;
  }

  .slick-slider {
    position: relative;
  }

  .slick-arrow {
    position: absolute;
    top: 60vh;
    color: $colorWH1;
    transform: translateY(-100%);

    .material-symbols-outlined {
      font-size: 10vw;
    }
  }

  .slick-prev {
    left: 10px;
    z-index: 50;
  }

  .slick-next {
    left: calc(10vw);
  }

  .slick-slide {
    overflow: hidden;
  }

  .project-img {
    display: block;
    overflow: hidden;
    width: 160vw;
    height: 60vh;
    margin: 0 auto;
    transform: skew(45deg) translateX(-16.5%);

    img {
      width: 101vw;
      height: 100%;
      object-fit: cover;
      object-position: top;
      transform: skew(-45deg) translateX(25.5%);
    }
  }

  .project-txt-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 0;
    padding: 30px 10px;
    color: $colorWH1;
    font-size: 1.4rem;
  }

  .project__title {
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: 900;
  }

  .project__category {
    margin-bottom: 20px;
    color: $colorRD1;
    font-weight: 600;
  }

  .project__info {
    margin-bottom: 20px;
    line-height: 1.33;
    text-align: center;
  }

  .project__detail {
    margin-bottom: 20px;
    line-height: 1.33;
  }

  .project__role {
    margin-bottom: 20px;
    line-height: 1.33;
    text-align: center;
  }

  .link-wrap {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
  }

  .project__link {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid $colorWH1;
    text-align: center;

    &:nth-of-type(2) {
      margin-left: 10px;
    }
  }
}

/*<----------소개 about---------->*/
.about-section {
  .center-wrap {
    overflow: hidden;
    padding: 0;
  }

  .img-wrap {
    overflow: hidden;
    width: 100%;
    height: 85vh;
    transform: skew(-30deg);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: skew(30deg);
    }
  }

  .about-txt {
    position: relative;
    z-index: 3;
    margin: 2vh 0;
    padding: 30px 10px;

    dt {
      margin-bottom: 10px;
      color: $colorWH1;
      font-weight: 900;
      font-size: 2.4rem;
    }

    dd {
      margin-bottom: 20px;
      color: $colorWH1;
      font-size: 1.4rem;
      line-height: 1.33;
      word-break: keep-all;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .line-break {
      display: none;
    }
  }

  .highlight {
    color: $colorRD1;
    font-weight: 900;
  }
}

/*<----------연락처 contact---------->*/
.contact-section {
  .center-wrap {
    overflow: hidden;
    padding: 0;
  }

  .img-wrap {
    overflow: hidden;
    width: 100%;
    height: 85vh;
    transform: skew(30deg);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: skew(-30deg);
    }
  }

  .contact-txt {
    position: relative;
    z-index: 3;
    margin-top: 2vh;
    padding: 30px 10px 8vh;
    text-align: right;

    dt {
      margin-bottom: 10px;
      color: $colorWH1;
      font-weight: 900;
      font-size: 2.4rem;
    }

    dd {
      margin-bottom: 20px;
      color: $colorWH1;
      font-size: 1.4rem;
      line-height: 1.33;
      word-break: keep-all;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .highlight {
    color: $colorRD1;
    line-height: 1.33;
  }
}

.overlay-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  // opacity: 40%;
  mix-blend-mode: multiply;
  pointer-events: none;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  태블릿 Tablet
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 768px) {
  /*<----------홈 home---------->*/
  .home-section {
    .center-wrap {
      padding: 10px 5vw;
    }
    .portfolio-title {
      margin-bottom: 100px;
      font-size: 10rem;
      line-height: 1.1;
    }

    .logo-img {
      width: 240px;
      margin-bottom: 0;
      margin-right: 120px;
    }

    .intro-wrap {
      display: flex;
    }

    .intro-txt {
      position: relative;

      &::before {
        position: absolute;
        top: 50%;
        left: -60px;
        width: 1px;
        height: 80%;
        background: $colorWH1;
        transform: translateY(-50%);
        content: "";
      }
    }

    .browser-opt {
      font-size: 1.7rem;
    }

    .copyright {
      font-size: 1.7rem;
    }
  }

  /*<----------프로젝트 project---------->*/
  .project-section {
    .project-paging {
      top: 20px;
      right: 20px;
      font-size: 5vw;
    }

    .slick-arrow {
      .material-symbols-outlined {
        font-size: 8vw;
      }
    }

    .slick-prev {
      left: 20px;
    }

    .slick-next {
      left: calc(8vw + 10px);
    }

    .project-img {
      width: 140vw;
      height: 60vh;
      transform: skew(45deg) translateX(-14%);

      img {
        width: 101vw;
        height: 100%;
        transform: skew(-45deg) translateX(18.7%);
      }
    }

    .project-txt-wrap {
      flex-wrap: wrap;
      align-items: flex-start;
      height: 39rem;
      padding: 40px 5vw;
      font-size: 1.7rem;
    }

    .project__title {
      width: 50%;
      padding-right: 20px;
      font-size: 4rem;
      text-align: right;
    }

    .project__category {
      flex-basis: calc(100% - 4rem - 30px);
      width: 50%;
      padding-right: 20px;
      text-align: right;
    }

    .project__info {
      width: 50%;
      padding-left: 20px;
      text-align: left;
    }

    .project__detail {
      padding-left: 20px;
    }

    .project__role {
      padding-left: 20px;
      text-align: left;
    }

    .link-wrap {
      padding-left: 20px;
      width: 40%;
      flex-direction: column;
    }

    .project__link {
      width: 100%;

      &:nth-of-type(2) {
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }

  /*<----------소개 about---------->*/
  .about-section {
    .img-wrap {
      width: 70%;
      margin-left: 15%;

      img {
        width: auto;
        max-width: initial;
        transform: skew(30deg) translateX(-15%);
      }
    }

    .about-txt {
      padding: 40px 5vw;

      dt {
        font-size: 4rem;
      }

      dd {
        font-size: 1.7rem;
      }

      .line-break {
        display: block;
      }
    }
  }

  /*<----------연락처 contact---------->*/
  .contact-section {
    .img-wrap {
      width: 70%;
      margin-left: 15%;

      img {
        width: auto;
        max-width: initial;
        transform: skew(-30deg) translateX(-26%);
      }
    }

    .contact-txt {
      padding: 40px 5vw 8vh;

      dt {
        font-size: 4rem;
      }

      dd {
        font-size: 1.7rem;
      }
    }
  }
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  PC
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 1152px) {
  /*<----------홈 home---------->*/
  .home-section {
    .center-wrap {
      padding: 10px 20px;
    }
  }

  /*<----------프로젝트 project---------->*/
  .project-section {
    .project-paging {
      font-size: 56px;
    }

    .slick-arrow {
      top: 600px;

      .material-symbols-outlined {
        font-size: 80px;
      }
    }

    .slick-next {
      left: calc(80px + 10px);
    }

    .project-img {
      width: 1280px;
      height: 600px;
      transform: skew(45deg) translateX(-5%);

      img {
        width: 100%;
        height: 100%;
        transform: skew(-45deg) translateX(0);
      }
    }

    .project-enbrain .project-img img {
      object-position: center;
    }

    .project-txt-wrap {
      margin: 20px 0 40px;
      padding: 40px 20px;
    }

    .project__link {
      transition: background-color 0.2s;
      &:hover,
      &:focus {
        background-color: rgba($color: $colorWH1, $alpha: 0.2);
      }
    }
  }

  /*<----------소개 about---------->*/
  .about-section {
    .center-wrap {
      position: relative;
    }

    .img-wrap {
      width: 460px;
      margin-left: 425px;
      transform: skew(-30deg);

      img {
        transform: skew(30deg) translateX(-20%);
      }
    }

    .about-txt {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: 0;
      padding: 0 20px;
      transform: translateY(-50%);
    }
  }

  /*<----------연락처 contact---------->*/
  .contact-section {
    margin: 160px 0 80px;
    .center-wrap {
      position: relative;
    }

    .img-wrap {
      width: 460px;
      margin-left: 265px;
      transform: skew(30deg);

      img {
        transform: skew(-30deg) translateX(-26%);
      }
    }

    .contact-txt {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: 0;
      padding: 0 20px;
      transform: translateY(-50%);
    }
  }
}
