@import "common.scss";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/

/*<----------포트폴리오 메인 portfolio main---------->*/
/*<----------헤더 header---------->*/
.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;

  .nav {
    display: flex;
    justify-content: space-between;
    min-height: 64px;
    margin: 0 auto;
    padding: 8px 6px;
  }

  .nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    padding: 10px;
    @include fontHeaderM;
    box-sizing: border-box;

    & + .nav__menu {
      margin-left: 4px;
    }
  }

  .nav__menu-list {
    display: flex;
  }
}

/*<----------메인 공통 main common---------->*/
.main {
  max-width: 504px;
  margin: 60px auto;
  padding: 0 16px;
}

.section-wrap {
  margin-bottom: 60px;
}

.section-title {
  margin-bottom: 24px;
  @include fontHeadlineM($colorTxtBK1, center);
}

.section-divider {
  width: 80px;
  height: 1px;
  margin: 60px auto;
  background-color: $colorLineLGR1;
}

/*<----------인트로 intro---------->*/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-area {
    width: 246px;
    margin-bottom: 24px;
  }

  .intro__txt {
    margin-bottom: 10px;
    @include fontBodyM-KR($colorTxtBK1, center);
  }

  .intro__optimization {
    @include fontBodyS-KR($colorTxtDGR1, center);
  }
}

/*<----------프로젝트 공통 project common---------->*/
.project__list li + li {
  margin-top: 10px;
}

/*<----------UI/UX 디자인 UI/UX design---------->*/
.uiux-design {
  .mentalhealth-app {
    @include projectItem;
    padding-left: 41px;
    padding-right: 20px;
    background-color: #0063ec;

    .project__txt-wrap {
      @include projectTxtWrap;
    }

    .project__title {
      margin-bottom: 10px;
      @include fontTitleM-KR($colorTxtWH1);
    }

    .project__info {
      @include fontBodyS-KR($colorTxtWH1);
    }

    .project__img-wrap {
      width: 116px;
      margin-left: 77px;
    }
  }

  .rebook-app {
    @include projectItem;
    padding-left: 20px;
    padding-right: 41px;
    background-color: #27ae61;

    .project__txt-wrap {
      @include projectTxtWrap;
      align-items: flex-end;
      order: 2;
    }

    .project__title {
      margin-bottom: 10px;
      @include fontTitleM-KR($colorTxtWH1);
    }

    .project__info {
      @include fontBodyS-KR($colorTxtWH1);
    }

    .project__img-wrap {
      width: 116px;
      margin-right: 69px;
    }
  }
}

/*<----------웹 디자인 web design---------->*/
.web-design {
  .careyou-web {
    @include projectItem;
    padding-left: 33px;
    background-color: #ffe151;

    .project__txt-wrap {
      @include projectTxtWrap;
    }

    .project__title {
      margin-bottom: 10px;
      @include fontTitleM-KR;
    }

    .project__info {
      @include fontBodyS-KR;
    }

    .project__img-wrap {
      width: 168px;
      margin-left: 42px;
    }
  }

  .library-web {
    @include projectItem;
    padding-right: 32px;
    padding-left: 8px;
    border: 1px solid #000;
    background-color: #fff;

    .project__txt-wrap {
      @include projectTxtWrap;
      align-items: flex-end;
      order: 2;
    }

    .project__title {
      margin-bottom: 10px;
      @include fontTitleM-KR;
    }

    .project__info {
      @include fontBodyS-KR;
    }

    .project__img-wrap {
      width: 168px;
      margin-right: 24px;
    }
  }

  .bentley-web {
    @include projectItem;
    padding-left: 33px;
    background-color: #212121;

    .project__txt-wrap {
      @include projectTxtWrap;
    }

    .project__title {
      margin-bottom: 10px;
      @include fontTitleM-KR($colorTxtWH1);
    }

    .project__info {
      @include fontBodyS-KR($colorTxtWH1);
    }

    .project__img-wrap {
      width: 168px;
      margin-left: 35px;
    }
  }
}

/*<----------그래픽 디자인 graphic design---------->*/
.graphic-design {
  .behance-link {
    @include projectItem;
    padding-right: 41px;
    padding-left: 41px;
    background-color: #ff1919;

    .project__txt-wrap {
      @include projectTxtWrap;
      align-items: flex-end;
      order: 2;
    }

    .project__title {
      margin-bottom: 10px;
      @include fontTitleM-KR($colorTxtWH1);
    }

    .project__info {
      @include fontBodyS-KR($colorTxtWH1);
    }

    .project__img-wrap {
      width: 116px;
      margin-right: 45px;
    }
  }
}

/*<----------소개 about---------->*/
.about {
  .about__category {
    margin-top: 24px;
    margin-bottom: 10px;
    @include fontTitleM-EN($colorTxtDGR1, center);
  }

  .about__detail {
    @include fontBodyM-EN($colorTxtBK1, center);
  }
}

/*<----------연락처 contact---------->*/
.contact {
  .contact__info {
    @include fontBodyM-EN($colorTxtBK1, center);
  }
}

/*<----------푸터 footer---------->*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  background-color: #212121;

  .copyright {
    @include fontBodyS-EN($colorTxtWH1, center);
  }
}

/*<----------리북 앱 uiux 디자인 기획안 페이지
rebook app uiux design---------->*/
.rebook-outer-wrap {
  max-width: 1024px;
  margin: 0 auto;
}

/*<----------캐어유 웹사이트 디자인 기획안 페이지
careyou website redesign---------->*/
.careyou-outer-wrap {
  max-width: 1024px;
  margin: 0 auto;

  .project-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    margin: 64px auto;
    padding: 0 48px;
    border-radius: 20px;
    background-color: #fbd574;
    @include fontBodyM-KR($colorTxtBK1, center);
  }
}

/*<----------평촌도서관 웹사이트 리디자인 기획안 페이지
pyeongchon library website redesign---------->*/
.library-outer-wrap {
  max-width: 1024px;
  margin: 0 auto;

  .project-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    margin: 64px auto;
    padding: 0 48px;
    border-radius: 20px;
    background-color: #3d5bcb;
    @include fontBodyM-KR($colorTxtWH1, center);
  }
}

/*<----------벤틀리 서울 웹사이트 리디자인 기획안 페이지
bentley seoul website redesign---------->*/
.bentley-outer-wrap {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #121212;

  .project-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    margin: 64px auto;
    padding: 0 48px;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #121212;
    @include fontBodyM-KR($colorTxtWH1, center);
  }

  .section-main {
    padding: 60px 0;
    background-color: #fff;
  }

  .footer {
    background-color: #2b2b2b;
  }
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  태블릿 Tablet, Desktop, Laptop
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 690px) {
  /*<----------포트폴리오 메인 portfolio main---------->*/
  /*<----------헤더 header---------->*/
  .header {
    .nav {
      max-width: 690px;
    }

    .nav__menu {
      @include fontHeaderL;
    }
  }

  /*<----------메인 공통 main common---------->*/
  .main {
    max-width: 690px;
    margin: 72px auto;
    padding: 0 24px;
  }

  .section-wrap {
    margin-bottom: 72px;
  }

  .section-title {
    margin-bottom: 32px;
    @include fontHeadlineL($colorTxtBK1, center);
  }

  .section-divider {
    margin: 72px auto;
  }

  /*<----------인트로 intro---------->*/
  .intro {
    .logo-area {
      width: 308px;
      margin-bottom: 32px;
    }

    .intro__txt {
      @include fontBodyL-KR($colorTxtBK1, center);
    }

    .intro__optimization {
      @include fontBodyM-KR($colorTxtDGR1, center);
    }
  }

  /*<----------프로젝트 공통 project common---------->*/
  .project__list li + li {
    margin-top: 16px;
  }

  /*<----------UI/UX 디자인 UI/UX design---------->*/
  .uiux-design {
    .mentalhealth-app {
      padding-left: 48px;

      .project__txt-wrap {
        @include projectTxtWrap(200px);
      }

      .project__title {
        @include fontTitleL-KR($colorTxtWH1);
      }

      .project__info {
        @include fontBodyM-KR($colorTxtWH1);
      }

      .project__img-wrap {
        width: 172px;
      }
    }

    .rebook-app {
      padding-right: 49px;

      .project__txt-wrap {
        @include projectTxtWrap(200px);
      }

      .project__title {
        @include fontTitleL-KR($colorTxtWH1);
      }

      .project__info {
        @include fontBodyM-KR($colorTxtWH1);
      }

      .project__img-wrap {
        width: 172px;
      }
    }
  }

  /*<----------웹 디자인 web design---------->*/
  .web-design {
    .careyou-web {
      padding-left: 55px;

      .project__txt-wrap {
        @include projectTxtWrap(200px);
      }

      .project__title {
        @include fontTitleL-KR;
      }

      .project__info {
        @include fontBodyM-KR;
      }

      .project__img-wrap {
        width: 252px;
        margin-left: 44px;
      }
    }

    .library-web {
      padding-right: 72px;
      padding-left: 36px;

      .project__txt-wrap {
        @include projectTxtWrap(200px);
      }

      .project__title {
        @include fontTitleL-KR;
      }

      .project__info {
        @include fontBodyM-KR;
      }

      .project__img-wrap {
        width: 252px;
        margin-right: 40px;
      }
    }

    .bentley-web {
      padding-left: 58px;

      .project__txt-wrap {
        @include projectTxtWrap(200px);
      }

      .project__title {
        @include fontTitleL-KR($colorTxtWH1);
      }

      .project__info {
        @include fontBodyM-KR($colorTxtWH1);
      }

      .project__img-wrap {
        width: 252px;
        margin-left: 37px;
      }
    }
  }

  /*<----------그래픽 디자인 graphic design---------->*/
  .graphic-design {
    .behance-link {
      .project__txt-wrap {
        @include projectTxtWrap(200px);
      }

      .project__title {
        @include fontTitleL-KR($colorTxtWH1);
      }

      .project__info {
        @include fontBodyM-KR($colorTxtWH1);
      }

      .project__img-wrap {
        width: 164px;
      }
    }
  }

  /*<----------소개 about---------->*/
  .about {
    .about__category {
      margin-top: 32px;
      @include fontTitleL-EN($colorTxtDGR1, center);
    }

    .about__detail {
      @include fontBodyL-EN($colorTxtBK1, center);
    }
  }

  /*<----------연락처 contact---------->*/
  .contact {
    .contact__info {
      @include fontBodyL-EN($colorTxtBK1, center);
    }
  }

  /*<----------푸터 footer---------->*/
  .footer {
    padding: 40px 24px;

    .copyright {
      @include fontBodyM-EN($colorTxtWH1, center);
    }
  }

  /*<----------캐어유 웹사이트 디자인 기획안 페이지
careyou website redesign---------->*/
  .careyou-outer-wrap {
    .project-link {
      margin: 96px auto;
      padding: 0 48px;
      border-radius: 20px;
      @include fontBodyL-KR($colorTxtBK1, center);
    }
  }

  /*<----------평촌도서관 웹사이트 리디자인 기획안 페이지
pyeongchon library website redesign---------->*/
  .library-outer-wrap {
    .project-link {
      margin: 96px auto;
      padding: 0 48px;
      border-radius: 20px;
      @include fontBodyL-KR($colorTxtWH1, center);
    }
  }

  /*<----------벤틀리 서울 웹사이트 리디자인 기획안 페이지
bentley seoul website redesign---------->*/
  .bentley-outer-wrap {
    .project-link {
      margin: 96px auto;
      padding: 0 48px;
      border-radius: 20px;
      @include fontBodyL-KR($colorTxtWH1, center);
    }
  }
}
