@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html {
  font-size: 62.5%;
}

body,
button,
input,
textarea,
::placeholder {
  font-family: "NanumSquare", sans-serif;
}

.hidden {
  display: none;
}

.center-wrap {
  max-width: 1152px;
  margin: 0 auto;
  padding: 40px 10px;
}

$colorWH1: #fff;
$colorBK1: #231f20;
$colorNV1: #1b262c;
$colorRD1: #d01110;

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
body {
  background: no-repeat url("../images/bg-wave.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*<----------홈 home---------->*/
.home-section {
  height: 100vh;

  .center-wrap {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .portfolio-title {
    width: 100%;
    margin-bottom: 40px;
    font-size: 5.4rem;
    font-weight: 900;
    color: $colorWH1;
  }

  .logo-img {
    width: 50%;
    margin-bottom: 40px;
  }

  .browser-opt {
    margin-bottom: 20px;
    color: $colorRD1;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.33;
  }

  .copyright {
    color: $colorWH1;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.33;
  }
}

/*<----------프로젝트 project---------->*/
.project-section {
  .center-wrap {
    margin-bottom: 8vh;
    padding: 0;
  }

  .slick-slide {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    height: 90vh;
    min-height: 560px;
    perspective: 100vw;
    perspective-origin: center;
  }

  .img-wrap {
    position: absolute;
    top: 5%;
    left: 0;
    z-index: -1;
    width: 60%;
    transform: rotateY(10deg);
  }

  .project-txt-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    height: 62vh;
    min-height: 450px;
    padding: 30px 15px 30px 10px;
    margin-top: 15vh;
    background: linear-gradient(to bottom, rgba($color: $colorBK1, $alpha: 0.3), rgba($color: #2e7672, $alpha: 0.7));
    color: $colorWH1;
    font-size: 1.4rem;
    word-break: keep-all;
    backdrop-filter: blur(3px);
    transform: rotateY(-10deg);
  }

  .project__title {
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: 900;
  }

  .project__category {
    margin-bottom: 20px;
    color: $colorRD1;
    font-weight: 600;
  }

  .project__info {
    margin-bottom: 20px;
    line-height: 1.33;
  }

  .project__detail {
    margin-bottom: 20px;
    line-height: 1.33;
  }

  .project__role {
    margin-bottom: 20px;
    line-height: 1.33;
  }

  .project__link {
    padding: 10px 40px;
    border: 1px solid $colorWH1;
    text-align: center;

    &:nth-of-type(2) {
      margin-top: 10px;
    }
  }
}

/*<----------소개 about---------->*/
.about-section {
  .center-wrap {
    overflow: hidden;
    padding: 0;
  }

  .img-wrap {
    overflow: hidden;
    width: 100%;
    height: 85vh;
    transform: skew(-30deg);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: skew(30deg);
    }
  }

  .about-txt {
    position: relative;
    z-index: 3;
    margin: 2vh 0;
    padding: 30px 10px;

    dt {
      margin-bottom: 10px;
      color: $colorWH1;
      font-weight: 900;
      font-size: 2.4rem;
    }

    dd {
      margin-bottom: 20px;
      color: $colorWH1;
      font-size: 1.4rem;
      line-height: 1.33;
      word-break: keep-all;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .line-break {
      display: none;
    }
  }

  .highlight {
    color: $colorRD1;
    font-weight: 900;
  }
}

/*<----------연락처 contact---------->*/
.contact-section {
  .center-wrap {
    overflow: hidden;
    padding: 0;
  }

  .img-wrap {
    overflow: hidden;
    width: 100%;
    height: 85vh;
    transform: skew(30deg);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: skew(-30deg);
    }
  }

  .contact-txt {
    position: relative;
    z-index: 3;
    margin-top: 2vh;
    padding: 30px 10px 8vh;
    text-align: right;

    dt {
      margin-bottom: 10px;
      color: $colorWH1;
      font-weight: 900;
      font-size: 2.4rem;
    }

    dd {
      margin-bottom: 20px;
      color: $colorWH1;
      font-size: 1.4rem;
      line-height: 1.33;
      word-break: keep-all;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .highlight {
    color: $colorRD1;
    line-height: 1.33;
  }
}

.overlay-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  // opacity: 40%;
  mix-blend-mode: multiply;
  pointer-events: none;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  태블릿 Tablet
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 768px) {
  /*<----------홈 home---------->*/
  .home-section {
    .center-wrap {
      padding: 10px 5vw;
    }
    .portfolio-title {
      margin-bottom: 100px;
      font-size: 10rem;
      line-height: 1.1;
    }

    .logo-img {
      width: 240px;
      margin-bottom: 0;
      margin-right: 120px;
    }

    .intro-wrap {
      display: flex;
    }

    .intro-txt {
      position: relative;

      &::before {
        position: absolute;
        top: 50%;
        left: -60px;
        width: 1px;
        height: 80%;
        background: $colorWH1;
        transform: translateY(-50%);
        content: "";
      }
    }

    .browser-opt {
      font-size: 1.7rem;
    }

    .copyright {
      font-size: 1.7rem;
    }
  }

  /*<----------소개 about---------->*/
  .about-section {
    .img-wrap {
      width: 70%;
      margin-left: 15%;

      img {
        width: auto;
        max-width: initial;
        transform: skew(30deg) translateX(-15%);
      }
    }

    .about-txt {
      padding: 40px 5vw;

      dt {
        font-size: 4rem;
      }

      dd {
        font-size: 1.7rem;
      }

      .line-break {
        display: block;
      }
    }
  }

  /*<----------연락처 contact---------->*/
  .contact-section {
    .img-wrap {
      width: 70%;
      margin-left: 15%;

      img {
        width: auto;
        max-width: initial;
        transform: skew(-30deg) translateX(-26%);
      }
    }

    .contact-txt {
      padding: 40px 5vw 8vh;

      dt {
        font-size: 4rem;
      }

      dd {
        font-size: 1.7rem;
      }
    }
  }
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  PC
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 1152px) {
  /*<----------홈 home---------->*/
  .home-section {
    .center-wrap {
      padding: 10px 20px;
    }
  }

  /*<----------소개 about---------->*/
  .about-section {
    .center-wrap {
      position: relative;
    }

    .img-wrap {
      width: 40%;
      margin-left: 40%;
      transform: skew(-30deg);

      img {
        transform: skew(30deg) translateX(-20%);
      }
    }

    .about-txt {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: 0;
      padding: 0 20px;
      transform: translateY(-50%);
    }
  }

  /*<----------연락처 contact---------->*/
  .contact-section {
    margin: 160px 0 80px;
    .center-wrap {
      position: relative;
    }

    .img-wrap {
      width: 40%;
      margin-left: 20%;
      transform: skew(30deg);

      img {
        transform: skew(-30deg) translateX(-26%);
      }
    }

    .contact-txt {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: 0;
      padding: 0 20px;
      transform: translateY(-50%);
    }
  }
}
