@import "common.scss";

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/

.project.renewable {
  .header {
    overflow: hidden;
    background: linear-gradient(to bottom, var(--clr-renew-pri) 50%, #004bc4);
  }

  .header_wrap {
    position: relative;
    padding-top: 300px;
    padding-bottom: 48px;

    ::before {
      position: absolute;
      top: -120px;
      left: 24px;
      width: 540px;
      height: 396px;
      background-image: url(../images/renewable/hero_visual.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      content: "";
      transform: rotate(20deg);
    }
  }

  .project__title {
    color: var(--clr-renew-on-pri);

    .highlight {
      color: var(--clr-renew-on-pri-cnt);
    }
  }

  .overview {
    .item_list {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .project_bg {
    background-color: var(--clr-surf-cnt-low);
  }

  .requirement {
    .item_list {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }

  .goals {
    background-color: var(--clr-renew-pri-cnt);
    .item_list {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }

  .research {
    .sec_wrap {
      gap: var(--gap-v-m);
    }

    .item_list {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    .fig {
      margin-top: 40px;

      .anno_list .anno {
        &:first-of-type::before {
          background-color: rgba($color: #1462df, $alpha: 0.5);
        }

        &:nth-of-type(2)::before {
          background-color: rgba($color: #aade14, $alpha: 0.5);
        }

        &:last-of-type::before {
          background-color: rgba($color: #009896, $alpha: 0.5);
        }
      }
    }
  }

  .key_issues {
    background-color: #c9f05a;

    .para_list--num {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-left: 16px;
      list-style-type: decimal;
      list-style-position: outside;

      .para {
        @include fontBody;
      }
    }
  }

  .design_process {
    .item_list {
      display: flex;
      flex-direction: column;
      gap: 64px;
    }

    .item__para {
      margin-bottom: 32px;

      &.design_sys {
        margin-bottom: 48px;
      }
    }

    .fig_group {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    .anno_list.status_flow {
      padding-top: 8px;

      .anno {
        &:first-of-type::before {
          background-color: var(--clr-renew-pri);
        }

        &:nth-of-type(2)::before {
          background-color: var(--clr-renew-pri-cnt);
        }

        &:last-of-type::before {
          background-color: var(--clr-surf-cnt-low);
        }
      }
    }

    .font_list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        line-height: 1.25;
      }

      .fontface {
        @include fontHeadline;
        font-family: "Pretendard Variable", Pretendard, Roboto, sans-serif;
        font-size: 28px;
      }

      .font_head {
        @include fontHeadline(var(--clr-on-surf-var));
        font-size: 28px;
      }

      .font_ttl {
        @include fontBody;
        font-size: 20px;
        font-weight: 500;
      }

      .font_label {
        @include fontBody;
        font-weight: 500;
        font-size: 16px;
      }

      .font_body {
        @include fontBody;
        font-size: 16px;
      }
    }

    .clr_list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px 16px;

      .img_wrap {
        align-self: flex-start;
        width: calc(50% - 8px);
      }
    }
  }

  .iteration {
    padding-top: 32px;

    .sec_wrap {
      gap: var(--gap-v-m);
    }

    .fig_group {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    .anno_list {
      padding-top: 8px;

      .anno {
        &:first-of-type::before {
          background-color: rgba($color: #1462df, $alpha: 0.5);
        }

        &:nth-of-type(2)::before {
          background-color: rgba($color: #aade14, $alpha: 0.5);
        }

        &:last-of-type::before {
          background-color: rgba($color: #009896, $alpha: 0.5);
        }
      }
    }

    .para_list--num {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 40px;
      padding-left: 16px;
      list-style-type: decimal;
      list-style-position: outside;

      .para {
        @include fontBody;

        .para__ttl {
          @include fontTitle;
        }
      }
    }
  }

  .final_design {
    padding-top: 32px;

    .sec_wrap {
      gap: var(--gap-v-l);
    }

    .sec__ttl_wrap {
      .para {
        .highlight {
          color: var(--clr-err);
        }

        &:last-of-type {
          margin-top: 8px;
        }
      }
    }

    .item_list {
      display: flex;
      flex-direction: column;
      gap: var(--gap-v-l);
    }

    .item__ttl.as {
      margin-bottom: 12px;
    }

    .item__para {
      margin-bottom: 32px;

      &.under {
        margin-top: 32px;
      }
    }

    .img_wrap {
      display: block;

      &.interaction {
        display: none;
      }
    }

    .fig {
      margin-top: var(--gap-v-m);
    }

    .img_group.as {
      div.img_wrap {
        display: none;
      }
    }
  }

  .reflection {
    background-color: var(--clr-renew-sec-cnt);
  }
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  데스크탑 Desktop
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/

@media only screen and (min-width: 896px) {
  .project.renewable {
    .header_wrap {
      padding-top: 100px;
      padding-bottom: 100px;

      ::before {
        top: -80px;
        left: auto;
        right: -80px;
      }
    }

    .overview {
      .item_list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px 24px;

        .item {
          width: calc(50% - 12px);

          &:first-child {
            width: 100%;
          }
        }
      }
    }

    .research {
      .sec_wrap {
        gap: var(--gap-v-l);
      }

      .item_list {
        gap: var(--gap-v-l);
      }
    }

    .design_process {
      .item_list {
        gap: 100px;
      }

      .item__para {
        margin-bottom: 40px;

        &.design_sys {
          margin-bottom: var(--gap-v-l);
        }
      }

      .fig_group {
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--gap-v-l) 24px;

        &.map_marker {
          .fig {
            width: calc(50% - 12px);

            &:first-child {
              width: 100%;
            }
          }
        }

        &.design_sys {
          .fig {
            width: 100%;

            &:nth-child(3),
            &:last-child {
              width: calc(50% - 12px);
            }
          }
        }
      }

      .clr_list {
        gap: 24px 24px;

        .img_wrap {
          width: calc(33.33% - 16px);
        }
      }
    }

    .iteration {
      .sec_wrap {
        gap: var(--gap-v-l);
      }

      .fig_group {
        gap: var(--gap-v-l);
      }

      .para_list--num {
        margin-top: var(--gap-v-l);
      }
    }

    .final_design {
      .sec_wrap {
        align-items: center;
        max-width: 1200px;
      }

      .sec__ttl_wrap {
        max-width: 800px;
      }

      .item_list {
        gap: 100px;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .item__ttl {
        width: 100%;
        max-width: 800px;
      }

      .img_wrap {
        display: block;

        &.interaction {
          display: block;
          width: 1200px;
          height: 675px;
          margin-top: var(--gap-v-l);
          background-color: var(--clr-renew-pri-cnt);
        }
      }

      .fig {
        margin-top: var(--gap-v-l);
      }

      .item__para {
        width: 100%;
        max-width: 800px;
      }

      .img_group.as {
        display: flex;
        align-items: flex-start;
        gap: 24px;

        .img_wrap {
          width: calc(50% - 12px);
        }

        div.img_wrap {
          display: block;
        }
      }
    }
  }
}
